@model WaterProj.DTOs.TransporterAccountDto

<h2>Редактирование профиля</h2>



@if (ViewBag.Message != null)
{
    <div class="alert alert-success">
        @ViewBag.Message
    </div>
}
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<section class="bg2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-uppercase text-secondary">Личный кабинет</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h5 class="text-center">Персональные данные</h5>
                <hr class="mx-5">
                <form asp-action="Edit" method="post" id="editForm">
                    <div class="form-group">
                        <label asp-for="@Model.Transporter.Login"></label>
                        <input asp-for="@Model.Transporter.Login" class="form-control" id="login" readonly="readonly" />
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.Transporter.Name"></label>
                        <input asp-for="@Model.Transporter.Name" class="form-control" id="name" readonly="readonly" />
                    </div>
                    <!-- Добавьте другие поля по необходимости -->
                    <br />
                </form>

                <button id="editButton" class="btn btn-primary">Редактировать</button>

                <form asp-action="Logout" method="post">
                    <button type="submit" class="btn btn-primary">Выйти</button>
                </form>
                <div class="row mx-0 mx-md-5">
                </div>
            </div>



            <div class="col-md-6 col-sm-12">
                <h5 class="text-center">Маршруты</h5>
                <hr class="mx-5">
                <div class="list-group">
                    @foreach (var route in Model.Routes)
                    {

                        <a href="@Url.Action("RouteDetails", "Route", new { routeID = route.RouteId })" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">@route.Name</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1">Описание</p>
                            <small>@route.Description</small>
                        </a>
                        <!-- Добавьте другие поля по необходимости 
                        <div class="list-group justify-content-center d-flex ">
                            <div href="#" class="list-group-item unclickable" aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">@route.Name</h5>
                                    <small>2022-2024</small>
                                </div>
                                <p class="mb-1">Описание</p>
                                <small>@route.Description</small>
                            </div>
                        </div>
                        -->
                    }
                </div>
                <div class="row mx-0 mx-md-5">

               
                </div>
            </div>
        </div>
    </div>
</section>

<a asp-controller="Route" asp-action="CreateRoute">Регистрация</a>